<!DOCTYPE html>
<html class="no-js" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:wicket="http://wicket.apache.org/"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://wicket.apache.org/ http://mmp.guru/resources/wicket.xsd">
  <head>
    <link rel="stylesheet" type="text/css" href="../../../../../../../../../../mmp-application-wicket/src/main/resources/guru/mmp/application/web/resource/thirdparty/fontawesome/css/font-awesome.min.css"/>
    <link rel="stylesheet" type="text/css" href="../../../../../../../../../../mmp-application-wicket/src/main/resources/guru/mmp/application/web/template/resource/css/template-bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="../../../../../../../../../../mmp-application-wicket/src/main/resources/guru/mmp/application/web/template/resource/css/template-core.css"/>
    <link rel="stylesheet" type="text/css" href="../../../../../../../../../../mmp-application-wicket/src/main/resources/guru/mmp/application/web/template/resource/css/template-forms.css"/>
    <link rel="stylesheet" type="text/css" href="../../../../../../../../../../mmp-application-wicket/src/main/resources/guru/mmp/application/web/template/resource/css/template-components.css"/>
    <link href="../../resource/css/application.css" rel="StyleSheet" type="text/css"/>
  </head>
  <body class="page-body maximum-height boxed-container">
    <div class="page-container maximum-height">
      <div class="sidebar-menu toggle-others">
        <div class="sidebar-menu-inner">
          <header class="logo-env">
            <div class="logo">
              <a href="#" class="logo-expanded">
                <div class="logo-image"></div>
              </a>
              <a href="#" class="logo-collapsed">
                <div class="logo-image"></div>
              </a>
            </div>
            <div class="mobile-menu-toggle visible-xs">
              <a href="#" data-toggle="user-info-menu"><i class="fa-bell-o"></i></a>
              <a href="#" data-toggle="mobile-menu"><i class="fa-bars"></i></a>
            </div>
          </header>
          <ul id="main-menu" class="main-menu">
            <li class="active opened active">
              <a href="#"><i class="fa fa-file-code-o"></i><span class="title">Container</span></a>
            </li>
          </ul>
        </div>
      </div>
      <div class="main-content maximum-height">
        <nav class="navbar user-info-navbar" role="navigation">
          <ul class="user-info-menu left-links list-inline list-unstyled">
            <li class="hidden-xs"><a href="#" data-toggle="sidebar"><i class="fa-bars"></i></a></li>
          </ul>
        </nav>
        <div class="page-title">
          <div class="title-env">
            <h1 class="title">Container</h1>
          </div>
          <div class="breadcrumb-env">
            <ol class="breadcrumb bc-1">
              <li class="active"><a href="#"><i class="fa-home"></i>Container</a></li>
            </ol>
          </div>
        </div>
        <wicket:child>
          <wicket:extend>







          </wicket:extend>
        </wicket:child>
      </div>
    </div>
  </body>
</html>


<!--

TO CONVERT

<!DOCTYPE html>
<html class="no-js" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:wicket="http://wicket.apache.org/"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://wicket.apache.org/ http://mmp.guru/resources/wicket.xsd">
  <head>
    <link href="../../../../../../../../../../mmp-application-wicket/src/main/resources/guru/mmp/application/web/template/resource/css/template-combined.css" rel="StyleSheet" type="text/css" />
  </head>
  <body class="layout-boxed">
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="#"><span class="navbar-logo"></span></a>
        </div>
      </div>
    </div>
    <div class="main-container">
      <div class="navbar-content"></div>
      <div class="main-content">
        <div class="container">
          <div class="row">
            <div class="col-sm-12">
              <ol class="breadcrumb"><li class="active">[Page Breadcrumbs]</li></ol>
              <div class="page-header">
                <h1>[Page Heading]</h1>
              </div>
            </div>
          </div>
          <wicket:extend>

            <div id="removeDialog" wicket:id="removeDialog" class="modal fade" tabindex="-1" role="dialog">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                      <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Remove Report Definition</h4>
                  </div>
                  <div class="modal-body">
                    <p>
                      Are you sure you wish to remove the report definition <b><span wicket:id="name">[Name]</span></b>?
                    </p>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                    <a wicket:id="removeLink" class="btn btn-primary">Yes</a>
                  </div>
                </div>
              </div>
            </div>

            <a wicket:id="addLink" class="btn btn-primary" href="#"><i class="fa fa-plus"></i> Add Report Definition</a>

            <div wicket:id="tableContainer" class="table-container">

              <table class="table table-bordered table-hover table-actions">
                <thead>
                  <tr>
                    <th class="stretch-column">Report Definition Name</th>
                    <th class="center">Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <tr wicket:id="reportDefinition">
                    <td><span wicket:id="name">[Report Definition Name]</span></td>
                    <td class="two-actions">
                      <a wicket:id="updateLink" href="#" class="btn btn-xs btn-action tooltips" data-placement="top" data-original-title="Update Report Definition" title="Update Report Definition"><i class="fa fa-edit"></i></a>
                      <a wicket:id="removeLink" href="#" class="btn btn-xs btn-action tooltips" data-placement="top" data-original-title="Remove Report Definition" title="Remove Report Definition"><i class="fa fa-times fa fa-white"></i></a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>

          </wicket:extend>
        </div>
      </div>
    </div>
    <div class="footer clearfix">
      <div class="footer-inner">2014 &copy; <span class="copyright-name"></span></div>
      <div class="footer-items"><span class="go-top"><i class="clip-chevron-up"></i></span></div>
    </div>
  </body>
</html>

-->