.application-logo-container .application-logo-icon
{
  background: url('../images/application-logo-icon.png') no-repeat;
  background-size: 60px 60px;
}

.application-logo-container .application-logo-name
{
  background: url('../images/application-logo-name.png') no-repeat;
  background-size: 170px 60px;
}

@media only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-devicepixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx)
{
  .application-logo-container .application-logo-icon
  {
    background: url('../images/application-logo-icon@2x.png') no-repeat;
    background-size: 60px 60px;
  }

  .application-logo-container .application-logo-name
  {
    background: url('../images/application-logo-name@2x.png') no-repeat;
    background-size: 170px 60px;
  }
}

span.copyright-name:before
{
    content: "Marcus Portmann";
}
