#wicketDebugBar
{
  position: relative;
  display: block;
  margin-top: 0px;
  height: 30px;
  top: inherit;
  right: inherit;
  bottom: inherit;
  left: inherit;
  background-color: inherit;
  padding: 3px 20px 0px 5px;
  float: right;
}

div.feedback-debug
{
  padding: 3px 0 0 3px;
  color: #31708f;
}

div.feedback-info
{
  padding: 3px 0 0 3px;
  color: #3c763d;
}

div.feedback-warning
{
  padding: 3px 0 0 3px;
  color: #8a6d3b;
}

div.feedback-error
{
  padding: 3px 0 0 3px;
  color: #a94442;
}

form#loginForm div.feedback-error
{
  color: #ff7479;
}

div.logo-image
{
  display: inline-block;
  width: 180px;
  height: 40px;
  background-image: url('../images/logo@2x.png');
  background-size: 100% 100%;
}

div.logo-collapsed-image
{
  display: inline-block;
  width: 40px;
  height: 40px;
  background-image: url('../images/logo-collapsed@2x.png');
  background-size: 100% 100%;
}

nav.navbar.user-info-navbar
{
   min-height: 46px;
}

img.userpic-32
{
  box-sizing: border-box;
  background: url('../images/user-profile.png') no-repeat;
  background-size: 100% 100%;
}

div.breadcrumb-env > ol > li.active
{
  font-weight: bold;
}

