#wicketDebugBar
{
  position: relative;
  display: block;
  margin-top: 0px;
  height: 30px;
  top: inherit;
  right: inherit;
  bottom: inherit;
  left: inherit;
  background-color: inherit;
  padding: 3px 20px 0px 5px;
  float: right;
}

div.feedback-debug
{
  padding: 3px 0 0 3px;
  color: #31708f;
}

div.feedback-info
{
  padding: 3px 0 0 3px;
  color: #3c763d;
}

div.feedback-warning
{
  padding: 3px 0 0 3px;
  color: #8a6d3b;
}

div.feedback-error
{
  padding: 3px 0 0 3px;
  color: #a94442;
}

form#loginForm div.feedback-error
{
  color: #ff7479;
}

/*
nav.navbar.user-info-navbar
{
  min-height: 50px;
}
*/

img.userpic-32
{
  box-sizing: border-box;
  background: url('../images/user-profile.png') no-repeat;
  background-size: 100% 100%;
}

div.breadcrumb-env > ol > li.active
{
  font-weight: bold;
}

/*
.xpage-container > .main-content > nav
{
  border-bottom: 1px solid #ededed;
}
*/

/*
body > div.page-container > div.main-content > nav > ul.user-info-menu.left-links.list-inline.list-unstyled > li.dropdown.hover-line.ms-hover.open > a
{
  background: yellow;
}
*/

body > div.page-container > div.main-content > nav > ul.user-info-menu.left-links.list-inline.list-unstyled
{
  position: relative;
  background: transparent;
  border-bottom: 1px solid transparent;
}


body > div.page-container > div.main-content > nav > ul.user-info-menu.left-links.list-inline.list-unstyled > li > a
{
  background: none;
}

/*
body > div.page-container > div.main-content > nav > ul.user-info-menu.left-links.list-inline.list-unstyled > li.dropdown.hover-line.ms-hover.open
{
  background: yellow;
  position: relative;
  border-bottom: 2px solid red;
  z-index: 15;
}
*/


body > div.page-container > div.main-content > nav > ul.user-info-menu.left-links.list-inline.list-unstyled > li.dropdown.hover-line.ms-hover.open > ul
{
  position: absolute;
}






/*
.dropdown-menu
{
  border: 1px solid red;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}
*/
/*
.user-info-navbar .user-info-menu > li > a
{
  border-bottom: 1px solid white;
}
*/
