span.navbar-logo:after
{
    content: "Sample";
}

/*
div.logo-image
{
    display: inline-block;
    width: 81px;
    height: 18px;
    background-image: url('../images/logo@2x.png');
    background-size: 100% 100%;
}

div.logo-collapsed-image
{
    display: inline-block;
    width: 40px;
    height: 40px;
    background-image: url('../images/logo-collapsed@2x.png');
    background-size: 100% 100%;
}
*/

