<?xml version="1.0" encoding="UTF-8" ?>
<html xmlns:wicket="http://wicket.apache.org">
  <body>
    <wicket:panel>

      <div class="form-group">
        <div class="col-xs-12">
          <label>ID
            <input wicket:id="id" name="id" type="text" placeholder="Enter an ID"/>
          </label>
        </div>
      </div>

      <div class="form-group">
        <div class="col-xs-12">
          <label>Name
            <input wicket:id="name" name="name" type="text" placeholder="Enter a name"/>
          </label>
        </div>
      </div>

      <div class="form-group">
        <div class="col-xs-12">
          <label>Value
            <input wicket:id="value" name="value" type="text" placeholder="Enter a value"/>
          </label>
        </div>
      </div>

    </wicket:panel>
  </body>
</html>