<?xml version="1.0" encoding="UTF-8" ?>
<html xmlns:wicket="http://wicket.apache.org">
  <body>
    <wicket:panel>

      <div class="form-group">
        <div class="col-xs-12">
          <label>ID
            <input wicket:id="id" name="id" type="text" placeholder="Enter an ID"/>
          </label>
        </div>
      </div>

      <div class="form-group">
        <div class="col-xs-12">
          <label>Name
            <input wicket:id="name" name="name" type="text" placeholder="Enter a name"/>
          </label>
        </div>
      </div>

      <div class="form-group">
        <div class="col-xs-12">
          <label class="select-wrapper">Category Type
            <select wicket:id="categoryType" name="categoryType" size="1">
              <option value="" selected disabled>Select a code category</option>
            </select>
          </label>
        </div>
      </div>

      <div wicket:id="codeDataContainer">
        <div class="form-group">
          <div class="col-xs-12">
            <label>Code Data
              <textarea wicket:id="codeData" name="codeData" rows="4" cols="5" placeholder="Enter the code data"></textarea>
            </label>
          </div>
        </div>
      </div>

      <div wicket:id="endPointContainer">

        <div class="form-group">
          <div class="col-xs-12">
            <label>End Point
              <input wicket:id="endPoint" name="endPoint" type="text" placeholder="Enter an end point"/>
            </label>
          </div>
        </div>

        <div class="form-group">
          <div class="col-xs-12">
            <label class="css-input css-checkbox css-checkbox-default">
              <input wicket:id="isEndPointSecure" name="isEndPointSecure" type="checkbox"/>
              <span></span>
              Is Secure?
            </label>
          </div>
        </div>

        <div class="form-group">
          <div class="col-xs-12">
            <label class="css-input css-checkbox css-checkbox-default">
              <input wicket:id="isCacheable" name="isCacheable" type="checkbox"/>
              <span></span>
              Is Cacheable?
            </label>
          </div>
        </div>

        <div class="form-group">
          <div class="col-xs-12">
            <label>Cache Expiry
              <input wicket:id="cacheExpiry" name="cacheExpiry" type="text" placeholder="Enter a cache expiry"/>
            </label>
          </div>
        </div>

      </div>

    </wicket:panel>
  </body>
 </html>