<?xml version="1.0" encoding="UTF-8" ?>
<html xmlns:wicket="http://wicket.apache.org">
  <body>
    <wicket:panel>

      <div class="form-group">
        <div class="col-xs-12">
          <label>Key
            <input wicket:id="key" name="key" type="text" placeholder="Enter a key"/>
          </label>
        </div>
      </div>

      <div class="form-group">
        <div class="col-xs-12">
          <label>Value
            <input wicket:id="value" name="value" type="text" placeholder="Enter a value"/>
          </label>
        </div>
      </div>

      <div class="form-group">
        <div class="col-xs-12">
          <label>Description
            <input wicket:id="description" name="description" type="text" placeholder="Enter a description"/>
          </label>
        </div>
      </div>

    </wicket:panel>
  </body>
</html>