<?xml version="1.0" encoding="UTF-8" ?>
<html xmlns:wicket="http://wicket.apache.org">
  <body>
    <wicket:panel>

      <div class="form-group">
        <div class="col-xs-12">
          <label>Group Name
            <input wicket:id="groupName" name="groupName" type="text" placeholder="Enter a group name"/>
          </label>
        </div>
      </div>

      <div class="form-group">
        <div class="col-xs-12">
          <label>Description
            <input wicket:id="description" name="description" type="text" placeholder="Enter a description"/>
          </label>
        </div>
      </div>

    </wicket:panel>
  </body>
</html>