<?xml version="1.0" encoding="UTF-8" ?>
<html xmlns:wicket="http://wicket.apache.org">
  <body>
    <wicket:panel>

      <div class="form-group">
        <div class="col-xs-12">
          <label>Maximum Password Attempts
            <input wicket:id="maxPasswordAttempts" name="maxPasswordAttempts" type="text" placeholder="Enter the maximum number of authentication attempts"/>
          </label>
        </div>
      </div>

      <div class="form-group">
        <div class="col-xs-12">
          <label>Password Expiry (months)
            <input wicket:id="passwordExpiryMonths" name="passwordExpiryMonths" type="text" placeholder="Enter the password expiry in months"/>
          </label>
        </div>
      </div>

      <div class="form-group">
        <div class="col-xs-12">
          <label>Password History (months)
            <input wicket:id="passwordHistoryMonths" name="passwordHistoryMonths" type="text" placeholder="Enter the password history in months"/>
          </label>
        </div>
      </div>

      <div class="form-group">
        <div class="col-xs-12">
          <label>Maximum Filtered Users
            <input wicket:id="maxFilteredUsers" name="maxFilteredUsers" type="text" placeholder="Enter the maximum number of filtered users"/>
          </label>
        </div>
      </div>

    </wicket:panel>
  </body>
</html>