<?xml version="1.0" encoding="UTF-8" ?>
<html xmlns:wicket="http://wicket.apache.org">
  <body>
    <wicket:panel>

      <div class="form-group">
        <div class="col-xs-12">
          <label>Host
            <input wicket:id="host" name="host" type="text" placeholder="Enter the LDAP server hostname"/>
          </label>
        </div>
      </div>

      <div class="form-group">
        <div class="col-xs-12">
          <label>Port
            <input wicket:id="port" name="port" type="text" placeholder="Enter the LDAP server port"/>
          </label>
        </div>
      </div>

      <div class="form-group">
        <div class="col-xs-12">
          <label>Use SSL
            <input wicket:id="useSSL" name="useSSL" type="text" placeholder="Use SSSL (true/false)"/>
          </label>
        </div>
      </div>

      <div class="form-group">
        <div class="col-xs-12">
          <label>Bind DN
            <input wicket:id="bindDN" name="bindDN" type="text" placeholder="Enter the bind DN"/>
          </label>
        </div>
      </div>

      <div class="form-group">
        <div class="col-xs-12">
          <label>Bind Password
            <input wicket:id="bindPassword" name="bindPassword" type="text" placeholder="Enter the bind password"/>
          </label>
        </div>
      </div>

      <div class="form-group">
        <div class="col-xs-12">
          <label>Base DN
            <input wicket:id="baseDN" name="baseDN" type="text" placeholder="Enter the base DN"/>
          </label>
        </div>
      </div>

      <div class="form-group">
        <div class="col-xs-12">
          <label>User Base DN
            <input wicket:id="userBaseDN" name="userBaseDN" type="text" placeholder="Enter the user base DN"/>
          </label>
        </div>
      </div>

      <div class="form-group">
        <div class="col-xs-12">
          <label>Group Base DN
            <input wicket:id="groupBaseDN" name="groupBaseDN" type="text" placeholder="Enter the group base DN"/>
          </label>
        </div>
      </div>

      <div class="form-group">
        <div class="col-xs-12">
          <label>Shared Base DN
            <input wicket:id="sharedBaseDN" name="sharedBaseDN" type="text" placeholder="Enter the shared base DN"/>
          </label>
        </div>
      </div>

      <div class="form-group">
        <div class="col-xs-12">
          <label>User Object Class
            <input wicket:id="userObjectClass" name="userObjectClass" type="text" placeholder="Enter the user object class"/>
          </label>
        </div>
      </div>

      <div class="form-group">
        <div class="col-xs-12">
          <label>User Username Attribute
            <input wicket:id="userUsernameAttribute" name="userUsernameAttribute" type="text" placeholder="Enter the username attribute"/>
          </label>
        </div>
      </div>

      <div class="form-group">
        <div class="col-xs-12">
          <label>User Password Expiry Attribute
            <input wicket:id="userPasswordExpiryAttribute" name="userPasswordExpiryAttribute" type="text" placeholder="Enter the password expiry attribute"/>
          </label>
        </div>
      </div>

      <div class="form-group">
        <div class="col-xs-12">
          <label>User Password Attempts Attribute
            <input wicket:id="userPasswordAttemptsAttribute" name="userPasswordAttemptsAttribute" type="text" placeholder="Enter the password attempts attribute"/>
          </label>
        </div>
      </div>

      <div class="form-group">
        <div class="col-xs-12">
          <label>User Password History Attribute
            <input wicket:id="userPasswordHistoryAttribute" name="userPasswordHistoryAttribute" type="text" placeholder="Enter the password history attribute"/>
          </label>
        </div>
      </div>

      <div class="form-group">
        <div class="col-xs-12">
          <label>User First Name Attribute
            <input wicket:id="userFirstNameAttribute" name="userFirstNameAttribute" type="text" placeholder="Enter the first name attribute"/>
          </label>
        </div>
      </div>

      <div class="form-group">
        <div class="col-xs-12">
          <label>User Last Name Attribute
            <input wicket:id="userLastNameAttribute" name="userLastNameAttribute" type="text" placeholder="Enter the last name attribute"/>
          </label>
        </div>
      </div>

      <div class="form-group">
        <div class="col-xs-12">
          <label>User Phone Number Attribute
            <input wicket:id="userPhoneNumberAttribute" name="userPhoneNumberAttribute" type="text" placeholder="Enter the phone number attribute"/>
          </label>
        </div>
      </div>

      <div class="form-group">
        <div class="col-xs-12">
          <label>User Mobile Number Attribute
            <input wicket:id="userMobileNumberAttribute" name="userMobileNumberAttribute" type="text" placeholder="Enter the mobile number attribute"/>
          </label>
        </div>
      </div>

      <div class="form-group">
        <div class="col-xs-12">
          <label>User E-Mail Attribute
            <input wicket:id="userEmailAttribute" name="userEmailAttribute" type="text" placeholder="Enter the e-mail attribute"/>
          </label>
        </div>
      </div>

      <div class="form-group">
        <div class="col-xs-12">
          <label>Group Object Class
            <input wicket:id="groupObjectClass" name="groupObjectClass" type="text" placeholder="Enter the group object class"/>
          </label>
        </div>
      </div>

      <div class="form-group">
        <div class="col-xs-12">
          <label>Group Name Attribute
            <input wicket:id="groupNameAttribute" name="groupNameAttribute" type="text" placeholder="Enter the group name attribute"/>
          </label>
        </div>
      </div>

      <div class="form-group">
        <div class="col-xs-12">
          <label>Group Member Attribute
            <input wicket:id="groupMemberAttribute" name="groupMemberAttribute" type="text" placeholder="Enter the group member attribute"/>
          </label>
        </div>
      </div>

      <div class="form-group">
        <div class="col-xs-12">
          <label>Group Description Attribute
            <input wicket:id="groupDescriptionAttribute" name="groupDescriptionAttribute" type="text" placeholder="Enter the group description attribute"/>
          </label>
        </div>
      </div>

      <div class="form-group">
        <div class="col-xs-12">
          <label>Maximum Password Attempts
            <input wicket:id="maxPasswordAttempts" name="maxPasswordAttempts" type="text" placeholder="Enter the maximum number of authentication attempts"/>
          </label>
        </div>
      </div>

      <div class="form-group">
        <div class="col-xs-12">
          <label>Password Expiry (months)
            <input wicket:id="passwordExpiryMonths" name="passwordExpiryMonths" type="text" placeholder="Enter the password expiry in months"/>
          </label>
        </div>
      </div>

      <div class="form-group">
        <div class="col-xs-12">
          <label>Support Password History
            <input wicket:id="supportPasswordHistory" name="supportPasswordHistory" type="text" placeholder="Support password history (true/false)"/>
          </label>
        </div>
      </div>

      <div class="form-group">
        <div class="col-xs-12">
          <label>Password History (months)
            <input wicket:id="passwordHistoryMonths" name="passwordHistoryMonths" type="text" placeholder="Enter the password history in months"/>
          </label>
        </div>
      </div>

      <div class="form-group">
        <div class="col-xs-12">
          <label>Password History Max Length
            <input wicket:id="passwordHistoryMaxLength" name="passwordHistoryMaxLength" type="text" placeholder="Enter the maximum password history length"/>
          </label>
        </div>
      </div>

      <div class="form-group">
        <div class="col-xs-12">
          <label>Maximum Filtered Users
            <input wicket:id="maxFilteredUsers" name="maxFilteredUsers" type="text" placeholder="Enter the maximum number of filtered users"/>
          </label>
        </div>
      </div>

      <div class="form-group">
        <div class="col-xs-12">
          <label>Maximum Filtered Groups
            <input wicket:id="maxFilteredGroups" name="maxFilteredGroups" type="text" placeholder="Enter the maximum number of filtered groups"/>
          </label>
        </div>
      </div>

    </wicket:panel>
  </body>
</html>