<?xml version="1.0" encoding="UTF-8" ?>
<html xmlns:wicket="http://wicket.apache.org">
  <body>
    <wicket:panel>

      <div class="form-group">
        <div class="col-xs-12">
          <div class="form-material form-material-primary">
            <label for="host">Host</label>
            <input wicket:id="host" id="host" name="host" type="text" class="form-control" placeholder="Enter the LDAP server hostname">
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="col-xs-12">
          <div class="form-material form-material-primary">
            <label for="port">Port</label>
            <input wicket:id="port" id="port" name="port" type="text" class="form-control" placeholder="Enter the LDAP server port">
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="col-xs-12">
          <div class="form-material form-material-primary">
            <label for="useSSL">Use SSL</label>
            <input wicket:id="useSSL" id="useSSL" name="useSSL" type="text" class="form-control" placeholder="Use SSSL (true/false)">
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="col-xs-12">
          <div class="form-material form-material-primary">
            <label for="bindDN">Bind DN</label>
            <input wicket:id="bindDN" id="bindDN" name="bindDN" type="text" class="form-control" placeholder="Enter the bind DN">
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="col-xs-12">
          <div class="form-material form-material-primary">
            <label for="bindPassword">Bind Password</label>
            <input wicket:id="bindPassword" id="bindPassword" name="bindPassword" type="text" class="form-control" placeholder="Enter the bind password">
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="col-xs-12">
          <div class="form-material form-material-primary">
            <label for="baseDN">Base DN</label>
            <input wicket:id="baseDN" id="baseDN" name="baseDN" type="text" class="form-control" placeholder="Enter the base DN">
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="col-xs-12">
          <div class="form-material form-material-primary">
            <label for="userBaseDN">User Base DN</label>
            <input wicket:id="userBaseDN" id="userBaseDN" name="userBaseDN" type="text" class="form-control" placeholder="Enter the user base DN">
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="col-xs-12">
          <div class="form-material form-material-primary">
            <label for="groupBaseDN">Group Base DN</label>
            <input wicket:id="groupBaseDN" id="groupBaseDN" name="groupBaseDN" type="text" class="form-control" placeholder="Enter the group base DN">
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="col-xs-12">
          <div class="form-material form-material-primary">
            <label for="sharedBaseDN">Shared Base DN</label>
            <input wicket:id="sharedBaseDN" id="sharedBaseDN" name="sharedBaseDN" type="text" class="form-control" placeholder="Enter the shared base DN">
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="col-xs-12">
          <div class="form-material form-material-primary">
            <label for="userObjectClass">User Object Class</label>
            <input wicket:id="userObjectClass" id="userObjectClass" name="userObjectClass" type="text" class="form-control" placeholder="Enter the user object class">
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="col-xs-12">
          <div class="form-material form-material-primary">
            <label for="userUsernameAttribute">User Username Attribute</label>
            <input wicket:id="userUsernameAttribute" id="userUsernameAttribute" name="userUsernameAttribute" type="text" class="form-control" placeholder="Enter the username attribute">
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="col-xs-12">
          <div class="form-material form-material-primary">
            <label for="userPasswordExpiryAttribute">User Password Expiry Attribute</label>
            <input wicket:id="userPasswordExpiryAttribute" id="userPasswordExpiryAttribute" name="userPasswordExpiryAttribute" type="text" class="form-control" placeholder="Enter the password expiry attribute">
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="col-xs-12">
          <div class="form-material form-material-primary">
            <label for="userPasswordAttemptsAttribute">User Password Attempts Attribute</label>
            <input wicket:id="userPasswordAttemptsAttribute" id="userPasswordAttemptsAttribute" name="userPasswordAttemptsAttribute" type="text" class="form-control" placeholder="Enter the password attempts attribute">
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="col-xs-12">
          <div class="form-material form-material-primary">
            <label for="userPasswordHistoryAttribute">User Password History Attribute</label>
            <input wicket:id="userPasswordHistoryAttribute" id="userPasswordHistoryAttribute" name="userPasswordHistoryAttribute" type="text" class="form-control" placeholder="Enter the password history attribute">
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="col-xs-12">
          <div class="form-material form-material-primary">
            <label for="userFirstNamesAttribute">User First Names Attribute</label>
            <input wicket:id="userFirstNamesAttribute" id="userFirstNamesAttribute" name="userFirstNamesAttribute" type="text" class="form-control" placeholder="Enter the first names attribute">
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="col-xs-12">
          <div class="form-material form-material-primary">
            <label for="userLastNameAttribute">User Last Name Attribute</label>
            <input wicket:id="userLastNameAttribute" id="userLastNameAttribute" name="userLastNameAttribute" type="text" class="form-control" placeholder="Enter the last name attribute">
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="col-xs-12">
          <div class="form-material form-material-primary">
            <label for="userMobileNumberAttribute">User Mobile Number Attribute</label>
            <input wicket:id="userMobileNumberAttribute" id="userMobileNumberAttribute" name="userMobileNumberAttribute" type="text" class="form-control" placeholder="Enter the mobile number attribute">
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="col-xs-12">
          <div class="form-material form-material-primary">
            <label for="userEmailAttribute">User E-Mail Attribute</label>
            <input wicket:id="userEmailAttribute" id="userEmailAttribute" name="userEmailAttribute" type="text" class="form-control" placeholder="Enter the e-mail attribute">
          </div>
        </div>
      </div>
      
      <div class="form-group">
        <div class="col-xs-12">
          <div class="form-material form-material-primary">
            <label for="groupObjectClass">Group Object Class</label>
            <input wicket:id="groupObjectClass" id="groupObjectClass" name="groupObjectClass" type="text" class="form-control" placeholder="Enter the group object class">
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="col-xs-12">
          <div class="form-material form-material-primary">
            <label for="groupNameAttribute">Group Name Attribute</label>
            <input wicket:id="groupNameAttribute" id="groupNameAttribute" name="groupNameAttribute" type="text" class="form-control" placeholder="Enter the group name attribute">
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="col-xs-12">
          <div class="form-material form-material-primary">
            <label for="groupMemberAttribute">Group Member Attribute</label>
            <input wicket:id="groupMemberAttribute" id="groupMemberAttribute" name="groupMemberAttribute" type="text" class="form-control" placeholder="Enter the group member attribute">
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="col-xs-12">
          <div class="form-material form-material-primary">
            <label for="groupDescriptionAttribute">Group Description Attribute</label>
            <input wicket:id="groupDescriptionAttribute" id="groupDescriptionAttribute" name="groupDescriptionAttribute" type="text" class="form-control" placeholder="Enter the group description attribute">
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="col-xs-12">
          <div class="form-material form-material-primary">
            <label for="maxPasswordAttempts">Maximum Password Attempts</label>
            <input wicket:id="maxPasswordAttempts" id="maxPasswordAttempts" name="maxPasswordAttempts" type="text" class="form-control" placeholder="Enter the maximum number of authentication attempts">
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="col-xs-12">
          <div class="form-material form-material-primary">
            <label for="passwordExpiryMonths">Password Expiry (months)</label>
            <input wicket:id="passwordExpiryMonths" id="passwordExpiryMonths" name="passwordExpiryMonths" type="text" class="form-control" placeholder="Enter the password expiry in months">
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="col-xs-12">
          <div class="form-material form-material-primary">
            <label for="supportPasswordHistory">Support Password History</label>
            <input wicket:id="supportPasswordHistory" id="supportPasswordHistory" name="supportPasswordHistory" type="text" class="form-control" placeholder="Support password history (true/false)">
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="col-xs-12">
          <div class="form-material form-material-primary">
            <label for="passwordHistoryMonths">Password History (months)</label>
            <input wicket:id="passwordHistoryMonths" id="passwordHistoryMonths" name="passwordHistoryMonths" type="text" class="form-control" placeholder="Enter the password history in months">
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="col-xs-12">
          <div class="form-material form-material-primary">
            <label for="passwordHistoryMaxLength">Password History Max Length</label>
            <input wicket:id="passwordHistoryMaxLength" id="passwordHistoryMaxLength" name="passwordHistoryMaxLength" type="text" class="form-control" placeholder="Enter the maximum password history length">
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="col-xs-12">
          <div class="form-material form-material-primary">
            <label for="maxFilteredUsers">Maximum Filtered Users</label>
            <input wicket:id="maxFilteredUsers" id="maxFilteredUsers" name="maxFilteredUsers" type="text" class="form-control" placeholder="Enter the maximum number of filtered users">
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="col-xs-12">
          <div class="form-material form-material-primary">
            <label for="maxFilteredGroups">Maximum Filtered Groups</label>
            <input wicket:id="maxFilteredGroups" id="maxFilteredGroups" name="maxFilteredGroups" type="text" class="form-control" placeholder="Enter the maximum number of filtered groups">
          </div>
        </div>
      </div>

    </wicket:panel>
  </body>
</html>