<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <link href="../../../../../../../../../../mmp-application-wicket/src/main/resources/guru/mmp/application/web/template/resource/theme/mmp/template.css" rel="StyleSheet" type="text/css" />
  </head>
  <body>
    <div id="childContentHolderSpacer"></div>
    <div id="childContentHolder">
    <wicket:extend>
        
      <div class="contentTopLeft">  
        <form wicket:id="backForm">  
          <button wicket:id="backButton" type="submit">Back</button>
        </form>
      </div>
      <div class="contentVerticalSpacer"></div>
                
      <form wicket:id="viewErrorReportForm">
      
        <table class="errorReportTable">
          <tr>
            <td nowrap="nowrap">
              <div class="formField">
                <label for="id">ID</label>
                <span wicket:id="id">3fddea86-9bda-11e2-89a2-705681c23e9f</span>
              </div>
            </td>
            <td nowrap="nowrap">
              <div class="formField">
                <label for="applicationId">Application ID</label>
                <span wicket:id="applicationId">0566fff8-862a-4549-b474-1e3e12635913</span>
              </div>
            </td>
            <td nowrap="nowrap">
              <div class="formField">
                <label for="applicationVersion">Application Version</label>
                <span wicket:id="applicationVersion">1</span>
              </div>
            </td>
            <td width="100%">&nbsp;</td>
           </tr>
           <tr>
            <td nowrap="nowrap">
              <div class="formField">
                <label for="device">Device</label>
                <span wicket:id="device">68-30-30-15-12-87</span>
              </div>
            </td>
            <td nowrap="nowrap">
              <div class="formField">
                <label for="created">Created</label>
                <span wicket:id="created">2013-04-02 11:00:00</span>
              </div>
            </td>
            <td colspan="2" nowrap="nowrap">
              <div class="formField">
                <label for="who">Who</label>
                <span wicket:id="who">WWWWWWWWWWWWWWWWWWWW@WWWWWWWWWWWWWWWWWWWW.COM</span>
              </div>
            </td>
          </tr>
          <tr>
            <td colspan="4">
              <div class="formField">
                <label for="description">Description</label>
                <span wicket:id="description">This is the description.</span>
              </div>
            </td>
          </tr>
          <tr>
            <td colspan="4">
              <div class="formField">
                <label for="feedback">Feedback</label>
                <span wicket:id="feedback">This is the feedback.</span>
              </div>
            </td>
          </tr>
        </table>
        <table>
          <tr>
            <td style="padding-left: 12px;"><b>Detail</b></td>
          </tr>
          <tr>
            <td style="padding-left: 15px;">
              <pre style="font: 10px Lucida Console, Monaco5, monospace;"><span wicket:id="detail">This is the detail.</span></pre>
            </td>
          </tr>
        </table>
        <table>
          <tr>
            <td style="padding-left: 12px;"><b>Data</b></td>
          </tr>
          <tr>
            <td style="padding-left: 15px;">
              <pre style="font: 10px Lucida Console, Monaco5, monospace;"><span wicket:id="data">This is the data.</span></pre>
            </td>
          </tr>
        </table>
      </form>

    </wicket:extend>
    </div>      
  </body>
</html>

