.logo .logo-mini
{
  display: inline-block;
  padding: 0;
  margin:0;
  width: 50px;
  height: 50px;
  background: url('../images/logo-mini.png') no-repeat;
  background-size: 50px 50px;
}

.logo .logo-lg
{
  display: inline-block;
  padding: 0;
  margin:0;
  width: 200px;
  height: 50px;
  background: url('../images/logo-lg.png') no-repeat;
  background-size: 200px 50px;
}

@media only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-devicepixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx)
{
  .logo .logo-mini
  {
    display: inline-block;
    padding: 0;
    margin:0;
    width: 50px;
    height: 50px;
    background: url('../images/logo-mini@2x.png') no-repeat;
    background-size: 50px 50px;
  }

  .logo .logo-lg
  {
    display: inline-block;
    padding: 0;
    margin:0;
    width: 200px;
    height: 50px;
    background: url('../images/logo-lg@2x.png') no-repeat;
    background-size: 200px 50px;
  }
}

span.copyright-name:before
{
  content: "Marcus Portmann";
}
