<!DOCTYPE html>
<html class="no-js" xmlns="http://www.w3.org/1999/xhtml" xmlns:wicket="http://wicket.apache.org/" xml:lang="en" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://wicket.apache.org/ http://mmp.guru/resources/wicket.xsd">  <head>
    <meta charset="utf-8"/>
    <!--[if IE]>
    <meta http-equiv='X-UA-Compatible' content="IE=edge,IE=9,IE=8,chrome=1"/><![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <link rel="stylesheet" type="text/css" href="../../resource/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="../../resource/perfectscrollbar/css/perfect-scrollbar.min.css"/>
    <link rel="stylesheet" type="text/css" href="../resource/css/template-fontawesome-font.css"/>
    <link rel="stylesheet" type="text/css" href="../resource/css/template-clip-font.css"/>
    <link rel="stylesheet" type="text/css" href="../resource/css/template.css"/>
    <link rel="stylesheet" type="text/css" href="../resource/css/template-responsive.css"/>
    <link rel="stylesheet" type="text/css" href="../resource/css/template-light-theme.css"/>
    <title>[Page Title]</title>
  </head>
  <body class="layout-boxed">
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="#"><span class="navbar-logo"></span></a>
        </div>
      </div>
    </div>
    <div class="main-container">
      <div class="navbar-content"></div>
      <div class="main-content">
        <div class="container">
          <div class="row">
            <div class="col-sm-12">
              <div class="page-header">
                <h1>[Page Heading]</h1>
              </div>
            </div>
          </div>
          <wicket:extend>

            <div class="form-intro">Please enter the details for the new code category and click <b>Add</b>.</div>

            <form wicket:id="addForm" id="addForm" class="form-horizontal">

              <div wicket:id="codeCategory"></div>

              <div class="form-group">
                <div class="col-xs-7">
                  <button wicket:id="addButton" type="submit" class="btn btn-primary pull-right btn-margin-left">Add</button>
                  <button wicket:id="cancelButton" type="submit" class="btn btn-default pull-right btn-margin-right">Cancel</button>
                </div>
              </div>

            </form>

          </wicket:extend>
        </div>
      </div>
    </div>
    <div class="footer clearfix">
      <div class="footer-inner">2014 &copy; <span class="copyright-name"></span></div>
      <div class="footer-items"><span class="go-top"><i class="clip-chevron-up"></i></span></div>
    </div>
  </body>
</html>




















