<!DOCTYPE html>
<html class="no-js" xmlns="http://www.w3.org/1999/xhtml" xmlns:wicket="http://wicket.apache.org/" xml:lang="en">
  <head>
    <meta charset="utf-8"/>
    <!--[if IE]>
    <meta http-equiv='X-UA-Compatible' content="IE=edge,IE=9,IE=8,chrome=1"/><![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <link rel="stylesheet" type="text/css" href="../../resource/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="../../resource/perfectscrollbar/css/perfect-scrollbar.min.css"/>
    <link rel="stylesheet" type="text/css" href="../resource/css/template-fontawesome-font.css"/>
    <link rel="stylesheet" type="text/css" href="../resource/css/template-clip-font.css"/>
    <link rel="stylesheet" type="text/css" href="../resource/css/template.css"/>
    <link rel="stylesheet" type="text/css" href="../resource/css/template-responsive.css"/>
    <link rel="stylesheet" type="text/css" href="../resource/css/template-light-theme.css"/>
    <title>[Page Title]</title>
  </head>
  <body class="layout-boxed">
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="#"><span class="navbar-logo"></span></a>
        </div>
      </div>
    </div>
    <div class="main-container">
      <div class="navbar-content"></div>
      <div class="main-content">
        <div class="container">
          <div class="row">
            <div class="col-sm-12">
              <div class="page-header">
                <h1>[Page Heading]</h1>
              </div>
            </div>
          </div>
          <wicket:extend>

            <div class="form-intro">Please enter the details for the new user and click <b>Add</b>.</div>

            <form wicket:id="addForm" id="addForm" class="form-horizontal">

              <div class="form-group">
                <label for="username" class="control-label col-xs-3">Username</label>
                <div class="col-xs-4">
                  <input wicket:id="username" id="username" class="form-control" type="text" name="username"/>
                </div>
              </div>

              <div class="form-group">
                <label for="title" class="control-label col-xs-3">Title</label>
                <div class="col-xs-4">
                  <select wicket:id="title" id="title" class="form-control" type="text" name="title"></select>
                </div>
              </div>

              <div class="form-group">
                <label for="firstNames" class="control-label col-xs-3">First Name(s)</label>
                <div class="col-xs-4">
                  <input wicket:id="firstNames" id="firstNames" class="form-control" type="text" name="firstNames"/>
                </div>
              </div>

              <div class="form-group">
                <label for="lastName" class="control-label col-xs-3">Last Name</label>
                <div class="col-xs-4">
                  <input wicket:id="lastName" id="lastName" class="form-control" type="text" name="lastName"/>
                </div>
              </div>

              <div class="form-group">
                <label for="email" class="control-label col-xs-3">E-Mail</label>
                <div class="col-xs-4">
                  <input wicket:id="email" id="email" class="form-control" type="text" name="email"/>
                </div>
              </div>

              <div class="form-group">
                <label for="phoneNumber" class="control-label col-xs-3">Phone Number</label>
                <div class="col-xs-4">
                  <input wicket:id="phoneNumber" id="phoneNumber" class="form-control" type="text" name="phoneNumber"/>
                </div>
              </div>

              <div class="form-group">
                <label for="faxNumber" class="control-label col-xs-3">Fax Number</label>
                <div class="col-xs-4">
                  <input wicket:id="faxNumber" id="faxNumber" class="form-control" type="text" name="faxNumber"/>
                </div>
              </div>

              <div class="form-group">
                <label for="mobileNumber" class="control-label col-xs-3">Mobile Number</label>
                <div class="col-xs-4">
                  <input wicket:id="mobileNumber" id="mobileNumber" class="form-control" type="text" name="mobileNumber"/>
                </div>
              </div>

              <div class="form-group">
                <label for="description" class="control-label col-xs-3">Description</label>
                <div class="col-xs-4">
                  <input wicket:id="description" id="description" class="form-control" type="text" name="description"/>
                </div>
              </div>

              <div class="form-group">
                <label for="password" class="control-label col-xs-3">Password</label>
                <div class="col-xs-4">
                  <input wicket:id="password" id="password" class="form-control" type="password" name="password"/>
                </div>
              </div>

              <div class="form-group">
                <label for="confirmPassword" class="control-label col-xs-3">Confirm Password</label>
                <div class="col-xs-4">
                  <input wicket:id="confirmPassword" id="confirmPassword" class="form-control" type="password" name="confirmPassword"/>
                </div>
              </div>

              <div class="form-group">
                <label for="expiredPassword" class="control-label col-xs-3">Expired Password</label>
                <div class="col-xs-4">
                  <input wicket:id="expiredPassword" id="expiredPassword" class="form-control" type="checkbox" name="expiredPassword"/>
                </div>
              </div>

              <div class="form-group">
                <label for="userLocked" class="control-label col-xs-3">Lock User</label>
                <div class="col-xs-4">
                  <input wicket:id="userLocked" id="userLocked" class="form-control" type="checkbox" name="userLocked"/>
                </div>
              </div>

              <div class="form-group">
                <label for="groupName" class="control-label col-xs-3">Group</label>
                <div class="col-xs-4">
                  <select wicket:id="groupName" id="groupName" class="form-control" type="text" name="groupName"></select>
                </div>
              </div>

              <div class="form-group">
                <div class="col-xs-7">
                  <button wicket:id="addButton" type="submit" class="btn btn-primary pull-right btn-margin-left">Add</button>
                  <button wicket:id="cancelButton" type="submit" class="btn btn-default pull-right btn-margin-right">Cancel</button>
                </div>
              </div>

            </form>

          </wicket:extend>
        </div>
      </div>
    </div>
    <div class="footer clearfix">
      <div class="footer-inner">2014 &copy; <span class="copyright-name"></span></div>
      <div class="footer-items"><span class="go-top"><i class="clip-chevron-up"></i></span></div>
    </div>
  </body>
</html>

