<!DOCTYPE html>
<html class="no-js" xmlns="http://www.w3.org/1999/xhtml" xmlns:wicket="http://wicket.apache.org/" xml:lang="en" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://wicket.apache.org/ http://mmp.guru/resources/wicket.xsd">
  <head>
    <meta charset="utf-8"/>
    <!--[if IE]>
    <meta http-equiv='X-UA-Compatible' content="IE=edge,IE=9,IE=8,chrome=1"/><![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <link rel="stylesheet" type="text/css" href="../../resource/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="../../resource/perfectscrollbar/css/perfect-scrollbar.min.css"/>
    <link rel="stylesheet" type="text/css" href="../resource/css/template-fontawesome-font.css"/>
    <link rel="stylesheet" type="text/css" href="../resource/css/template-clip-font.css"/>
    <link rel="stylesheet" type="text/css" href="../resource/css/template.css"/>
    <link rel="stylesheet" type="text/css" href="../resource/css/template-responsive.css"/>
    <link rel="stylesheet" type="text/css" href="../resource/css/template-light-theme.css"/>
    <title>[Page Title]</title>
  </head>
  <body class="layout-boxed">
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="#"><span class="navbar-logo"></span></a>
        </div>
      </div>
    </div>
    <div class="main-container">
      <div class="navbar-content"></div>
      <div class="main-content">
        <div class="container">
          <div class="row">
            <div class="col-sm-12">
              <div class="page-header">
                <h1>[Page Heading]</h1>
              </div>
            </div>
          </div>
          <wicket:extend>

            <div id="removeDialog" wicket:id="removeDialog" class="modal fade" tabindex="-1" role="dialog">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                      <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Remove Code Category</h4>
                  </div>
                  <div class="modal-body">
                    <p>
                      Are you sure you wish to remove the code category <b><span wicket:id="name">[Name]</span></b>?
                    </p>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                    <a wicket:id="removeLink" class="btn btn-primary">Yes</a>
                  </div>
                </div>
              </div>
            </div>

            <a wicket:id="addLink" class="btn btn-primary" href="#"><i class="fa fa-plus"></i> Add Code Category</a>

            <div wicket:id="tableContainer" class="table-container">

              <div class="table-header">
                <div wicket:id="navigator">[DataView Navigator]</div>
                <div class="table-header-spacer"></div>
              </div>

              <table class="table table-bordered table-hover table-actions">
                <thead>
                  <tr>
                    <th class="stretch-column">Name</th>
                    <th>Type</th>
                    <th class="center">Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <tr wicket:id="codeCategory">
                    <td><span wicket:id="name">[Code Category Name]</span></td>
                    <td><span wicket:id="categoryType">[Code Category Type]</span></td>
                    <td class="three-actions">
                      <a wicket:id="codeAdministrationLink" href="#" class="btn btn-xs btn-action tooltips" data-placement="top" data-original-title="Code Administration" title="Codes Administration"><i class="clip-list-2"></i></a>
                      <a wicket:id="updateLink" href="#" class="btn btn-xs btn-action tooltips" data-placement="top" data-original-title="Update Code Category" title="Update Code Category"><i class="fa fa-edit"></i></a>
                      <a wicket:id="removeLink" href="#" class="btn btn-xs btn-action tooltips" data-placement="top" data-original-title="Remove Code Category" title="Remove Code Category"><i class="fa fa-times fa fa-white"></i></a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>

          </wicket:extend>
        </div>
      </div>
    </div>
    <div class="footer clearfix">
      <div class="footer-inner">2014 &copy; <span class="copyright-name"></span></div>
      <div class="footer-items"><span class="go-top"><i class="clip-chevron-up"></i></span></div>
    </div>
  </body>
</html>




