<!DOCTYPE html>
<html class="no-js" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:wicket="http://wicket.apache.org/"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://wicket.apache.org/ http://mmp.guru/resources/wicket.xsd">
  <head>
    <link rel="stylesheet" type="text/css" href="../../../../../../../../../../mmp-application-wicket/src/main/resources/guru/mmp/application/web/resource/thirdparty/fontawesome/css/font-awesome.min.css"/>
    <link rel="stylesheet" type="text/css" href="../../../../../../../../../../mmp-application-wicket/src/main/resources/guru/mmp/application/web/template/resource/css/template-bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="../../../../../../../../../../mmp-application-wicket/src/main/resources/guru/mmp/application/web/template/resource/css/template-core.css"/>
    <link rel="stylesheet" type="text/css" href="../../../../../../../../../../mmp-application-wicket/src/main/resources/guru/mmp/application/web/template/resource/css/template-forms.css"/>
    <link rel="stylesheet" type="text/css" href="../../../../../../../../../../mmp-application-wicket/src/main/resources/guru/mmp/application/web/template/resource/css/template-components.css"/>
    <link href="../../resource/css/application.css" rel="StyleSheet" type="text/css"/>
  </head>
  <body class="page-body maximum-height">
    <div class="page-container maximum-height">
      <div class="sidebar-menu toggle-others fixed">
        <div class="sidebar-menu-inner">
          <header class="logo-env">
            <div class="logo">
              <a href="#" class="logo-expanded">
                <div class="logo-image"></div>
              </a>
              <a href="#" class="logo-collapsed">
                <div class="logo-image"></div>
              </a>
            </div>
            <div class="mobile-menu-toggle visible-xs">
              <a href="#" data-toggle="user-info-menu"><i class="fa-bell-o"></i></a>
              <a href="#" data-toggle="mobile-menu"><i class="fa-bars"></i></a>
            </div>
          </header>
          <ul id="main-menu" class="main-menu">
            <li class="active opened active">
              <a href="#"><i class="fa fa-file-code-o"></i><span class="title">Container</span></a>
            </li>
          </ul>
        </div>
      </div>
      <div class="main-content maximum-height">
        <nav class="navbar user-info-navbar" role="navigation">
          <ul class="user-info-menu left-links list-inline list-unstyled">
            <li class="hidden-xs"><a href="#" data-toggle="sidebar"><i class="fa-bars"></i></a></li>
          </ul>
        </nav>
        <div class="page-title">
          <div class="title-env">
            <h1 class="title">Container</h1>
          </div>
          <div class="breadcrumb-env">
            <ol class="breadcrumb bc-1">
              <li class="active"><a href="#"><i class="fa-home"></i>Container</a></li>
            </ol>
          </div>
        </div>
        <wicket:child>
          <wicket:extend>







          </wicket:extend>
        </wicket:child>
      </div>
    </div>
  </body>
</html>







<!--



<!DOCTYPE html>
<html class="no-js" xmlns="http://www.w3.org/1999/xhtml" xmlns:wicket="http://wicket.apache.org/" xml:lang="en" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://wicket.apache.org/ http://mmp.guru/resources/wicket.xsd">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv='X-UA-Compatible' content="IE=edge,IE=9,IE=8,chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <title wicket:id="pageTitle">[Page Title]</title>
  </head>
  <body class="login">
    <div class="main-login col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
      <div class="logo"><span class="navbar-logo"></span></div>

      <div wicket:id="alerts" id="alerts"></div>

      <div class="box-login">
        <h3>Select Organisation</h3>
        <p>
          Please select the organisation you wish to work with.
        </p>

        <form wicket:id="selectOrganisationForm">
          <fieldset>
            <div class="form-group">
              <select id="organisation" wicket:id="organisation" type="text" name="organisation" class="form-control search-select">
                <option value="">&nbsp;</option>
              </select>
            </div>

            <div class="form-actions">
              <button wicket:id="continueButton" type="submit" class="btn btn-primary pull-right">
                Continue <i class="fa fa-arrow-circle-right"></i>
              </button>
            </div>
          </fieldset>
        </form>
      </div>

    </div>
  </body>
</html>





-->