<!DOCTYPE html>
<html xml:lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:wicket="http://wicket.apache.org/"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://wicket.apache.org/ http://mmp.guru/resources/wicket.xsd">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title wicket:id="pageTitle">Select Organisation</title>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body class="page-body login-page">
    <div class="login-container">
      <div class="row">
        <div class="col-sm-6">
          <script type="text/javascript">
            jQuery(document).ready(function($)
            {
              // Reveal Login form
              setTimeout(function(){ $(".fade-in-effect").addClass('in'); }, 1);
            });
          </script>

          <div wicket:id="alerts" id="alerts"></div>

          <form wicket:id="selectOrganisationForm" method="post" role="form" id="selectOrganisationForm" class="login-form fade-in-effect in">

            <div class="login-header">
              <a href="#" class="logo">
                <div class="logo-image"></div>
                <span>select organisation</span>
              </a>

              <p>Please select the organisation you wish to work with.</p>
            </div>

            <div class="form-group">
              <select id="organisation" wicket:id="organisation" type="text" name="organisation" class="form-control">
                <option value="">&nbsp;</option>
              </select>
            </div>

            <script type="text/javascript">
              /*<![CDATA[*/

              jQuery(document).ready(function ($)
              {
                $("#organisation").select2({
                  placeholder: 'Select an organisation...',
                  allowClear: true,
                  dropdownAutoWidth: true,
                }).on('select2-open', function ()
                {
                  // Adding Custom Scrollbar
                  $(this).data('select2').results.addClass('overflow-hidden').perfectScrollbar();
                });

              });

              /*]]>*/
            </script>

            <div class="form-buttons">
              <button wicket:id="continueButton" type="submit" class="btn btn-dark pull-right">
                Continue <i class="fa fa-arrow-circle-right"></i>
              </button>
            </div>

          </form>
        </div>
      </div>
    </div>
  </body>
</html>
