<!DOCTYPE html>
<html class="no-js" xmlns="http://www.w3.org/1999/xhtml" xmlns:wicket="http://wicket.apache.org/" xml:lang="en">
  <head>
    <meta charset="utf-8"/>
    <!--[if IE]>
    <meta http-equiv='X-UA-Compatible' content="IE=edge,IE=9,IE=8,chrome=1"/><![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <title wicket:id="pageTitle">[Page Title]</title>
  </head>
  <body class="login">
    <div class="main-login col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
      <div class="logo"><span class="navbar-logo"></span></div>

      <div wicket:id="alerts" id="alerts"></div>

      <div class="box-login">
        <h3>Select Organisation</h3>
        <p>
          Please select the organisation you wish to work with.
        </p>

        <form wicket:id="selectOrganisationForm">
          <fieldset>
            <div class="form-group">

              <select id="organisation" wicket:id="organisation" type="text" name="organisation" class="form-control search-select">
                <option value="">&nbsp;</option>
              </select>
            </div>

            <div class="form-actions">
              <button wicket:id="continueButton" type="submit" class="btn btn-primary pull-right">
                Continue <i class="fa fa-arrow-circle-right"></i>
              </button>
            </div>
          </fieldset>
        </form>
      </div>

    </div>
  </body>
</html>





