<!DOCTYPE html>
<html class="no-focus">
  <head>
    <meta charset="utf-8">
    <title wicket:id="pageTitle">Template</title>
    <meta name="robots" content="noindex, nofollow">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1.0">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400italic,600,700%7COpen+Sans:300,400,400italic,600,700">
    <script>
      jQuery(function() {
        // Init mandatory page helpers (BS Datepicker + BS Datetimepicker + Select2 plugins)
        App.initHelpers(['datepicker', 'datetimepicker', 'select2']);
      });
    </script>
  </head>
  <body>
    <div id="page-container" class="sidebar-l sidebar-o side-scroll header-navbar-fixed">
      <div wicket:id="backendUserMenuSideOverlay"></div>

      <!-- Sidebar -->
      <nav id="sidebar">
        <!-- Sidebar Scroll Container -->
        <div id="sidebar-scroll">
          <!-- Sidebar Content -->
          <!-- Adding .sidebar-mini-hide to an element will hide it when the sidebar is in mini mode -->
          <div class="sidebar-content">
            <!-- Side Header -->
            <div class="side-header side-content bg-white-op">
              <!-- Layout API, functionality initialized in App() -> uiLayoutApi() -->
              <button class="btn btn-link text-gray pull-right hidden-md hidden-lg" type="button" data-toggle="layout" data-action="sidebar_close">
                <i class="fa fa-times"></i>
              </button>

<!--
          <header class="logo-env">
            <div class="logo">
              <a href="#" class="logo-expanded">
                <div class="logo-image"></div>
              </a>

              <a href="#" class="logo-collapsed">
                <div class="logo-image"></div>
              </a>
            </div>

            <div class="mobile-menu-toggle visible-xs">
              <a href="#" data-toggle="user-info-menu">
                <i class="fa-bell-o"></i>
              </a>

              <a href="#" data-toggle="mobile-menu">
                <i class="fa-bars"></i>
              </a>
            </div>
          </header>
-->

              <a class="h5 text-white" href="#">
                <i class="fa fa-circle-o-notch text-primary"></i> <span class="h4 font-w600 sidebar-mini-hide">ne</span>
              </a>
            </div>
            <div class="side-content">
              <div wicket:id="backendMainNavigation"></div>
            </div>
          </div>
        </div>
      </nav>
      <div wicket:id="backendHeader"></div>
      <main id="main-container">
        <div class="content bg-gray-lighter">
          <div class="row items-push">
            <div class="col-sm-7">
              <h1 class="page-heading">
                <span wicket:id="pageHeading"></span> <small><span wicket:id="pageSubHeading"></span></small>
              </h1>
            </div>
            <div class="col-sm-5 text-right hidden-xs">
              <div wicket:id="breadcrumbs"></div>
            </div>
          </div>
        </div>
        <div class="content content-narrow">
          <div wicket:id="alerts" id="alerts"></div>
          <wicket:child />
        </div>
      </main>
      <footer id="page-footer" class="content-mini content-mini-full font-s12 bg-gray-lighter clearfix">
        <div class="pull-right"><div wicket:id="debug"></div></div>
        <div class="pull-left">
          Copyright &copy; <span class="js-year-copy"></span> <a class="font-w600" href="#" target="_blank"><span class="copyright-name"></span></a>
        </div>
      </footer>
    </div>
  </body>
</html>

