<!DOCTYPE html>
<html class="no-js" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:wicket="http://wicket.apache.org/"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://wicket.apache.org/ http://mmp.guru/resources/wicket.xsd">
  <head>
    <link rel="stylesheet" type="text/css" href="../../../../../../../../../../mmp-application-wicket/src/main/resources/guru/mmp/application/web/resource/thirdparty/fontawesome/css/font-awesome.min.css"/>
    <link rel="stylesheet" type="text/css" href="../../../../../../../../../../mmp-application-wicket/src/main/resources/guru/mmp/application/web/template/resource/css/template-bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="../../../../../../../../../../mmp-application-wicket/src/main/resources/guru/mmp/application/web/template/resource/css/template-core.css"/>
    <link rel="stylesheet" type="text/css" href="../../../../../../../../../../mmp-application-wicket/src/main/resources/guru/mmp/application/web/template/resource/css/template-forms.css"/>
    <link rel="stylesheet" type="text/css" href="../../../../../../../../../../mmp-application-wicket/src/main/resources/guru/mmp/application/web/template/resource/css/template-components.css"/>
    <link href="../../resource/css/application.css" rel="StyleSheet" type="text/css"/>
  </head>
  <body class="page-body maximum-height">
    <div class="page-container maximum-height">
      <div class="sidebar-menu toggle-others fixed">
        <div class="sidebar-menu-inner">
          <header class="logo-env">
            <div class="logo">
              <a href="#" class="logo-expanded">
                <div class="logo-image"></div>
              </a>
              <a href="#" class="logo-collapsed">
                <div class="logo-image"></div>
              </a>
            </div>
            <div class="mobile-menu-toggle visible-xs">
              <a href="#" data-toggle="user-info-menu"><i class="fa-bell-o"></i></a>
              <a href="#" data-toggle="mobile-menu"><i class="fa-bars"></i></a>
            </div>
          </header>
          <ul id="main-menu" class="main-menu">
            <li class="active opened active">
              <a href="#"><i class="fa fa-file-code-o"></i><span class="title">Container</span></a>
            </li>
          </ul>
        </div>
      </div>
      <div class="main-content maximum-height">
        <nav class="navbar user-info-navbar" role="navigation">
          <ul class="user-info-menu left-links list-inline list-unstyled">
            <li class="hidden-xs"><a href="#" data-toggle="sidebar"><i class="fa-bars"></i></a></li>
          </ul>
        </nav>
        <div class="page-title">
          <div class="title-env">
            <h1 class="title">Container</h1>
          </div>
          <div class="breadcrumb-env">
            <ol class="breadcrumb bc-1">
              <li class="active"><a href="#"><i class="fa-home"></i>Container</a></li>
            </ol>
          </div>
        </div>
        <wicket:child>
          <wicket:extend>

            <div wicket:id="tableContainer" class="panel panel-default">

              <div class="table-header">
                <div class="table-header-left">

                  <form wicket:id="addUserToGroupForm">
                    <div class="form-intro">Please select the group you wish to add the user to and click <b>Add</b>.</div>

                    <div class="form-group form-actions">
                      <div class="col-xs-10">
                        <select wicket:id="groupName" class="form-control pull-left" type="text" name="groupName">
                          <option>Organisation Administrators</option>
                        </select>
                      </div>
                      <div class="col-xs-push-1">
                        <button class="btn btn-sm btn-primary" type="submit"><i class="fa fa-plus"></i> Add</button>
                      </div>
                    </div>
                  </form>


                </div>
                <div class="table-header-right">
                  <a wicket:id="backLink" class="btn btn-primary btn-sm" href="#"><i class="fa fa-angle-left"></i> Back</a>
                </div>
              </div>



              <table class="table table-bordered table-striped table-condensed table-actions">
                <thead>
                  <tr>
                    <th>Group Name</th>
                    <th class="stretch-column">Group Description</th>
                    <th class="center">Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <tr wicket:id="group">
                    <td><span wicket:id="name">[Group Name]</span></td>
                    <td><span wicket:id="description">[Group Description]</span></td>
                    <td class="one-action">
                      <a wicket:id="removeLink" href="#" class="btn btn-xs btn-action tooltips" data-placement="top" data-original-title="Remove User From Group" title="Remove User From Group"><i class="fa fa-times fa fa-white"></i></a>
                    </td>
                  </tr>
                </tbody>
              </table>
              <div wicket:id="navigator" class="paging-navigator"></div>
            </div>

          </wicket:extend>
        </wicket:child>
      </div>
    </div>
  </body>
</html>
