<?xml version="1.0" encoding="UTF-8" ?>
<html xmlns:wicket="http://wicket.apache.org">
  <body>
    <wicket:panel>

      <div class="form-group">
        <label for="id" class="control-label col-xs-3">ID</label>
        <div class="col-xs-9">
          <input wicket:id="id" id="id" class="form-control" type="text" name="id"/>
        </div>
      </div>

      <div class="form-group">
        <label for="name" class="control-label col-xs-3">Name</label>
        <div class="col-xs-9">
          <input wicket:id="name" id="name" class="form-control" type="text" name="name"/>
        </div>
      </div>

      <div class="form-group">
        <label for="fileUpload" class="control-label col-xs-3">Template</label>
        <div class="col-xs-9">
          <input wicket:id="fileUpload" id="fileUpload" class="form-control" type="file" name="fileUpload"/>
        </div>
      </div>

    </wicket:panel>
  </body>
</html>

