<?xml version="1.0" encoding="UTF-8" ?>
<html xmlns:wicket="http://wicket.apache.org">
  <body>
    <wicket:panel>

      <div class="form-group">
        <div class="col-xs-12">
          <div class="form-material form-material-primary">
            <label for="id">ID</label>
            <input wicket:id="id" id="id" name="id" type="text" class="form-control" placeholder="Enter an ID">
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="col-xs-12">
          <div class="form-material form-material-primary">
            <label for="name">Name</label>
            <input wicket:id="name" id="name" name="name" type="text" class="form-control" placeholder="Enter a name">
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="col-xs-12">
          <div class="form-material form-material-primary">
            <label for="description">Description</label>
            <input wicket:id="description" id="description" name="description" type="text" class="form-control" placeholder="Enter a description">
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="col-xs-12">
          <div class="form-material form-material-primary">
            <label for="categoryType">Category Type</label>
            <div class="template-custom-select">
              <select wicket:id="categoryType" id="categoryType" name="categoryType" size="1" class="form-control">
                <option value="" selected disabled>Select a code category</option>
              </select>
            </div>
          </div>
        </div>
      </div>

      <div wicket:id="codeDataContainer">

        <div class="form-group">
          <div class="col-xs-12">
            <div class="form-material form-material-primary">
              <label for="codeData">Code Data</label>
              <textarea wicket:id="codeData" id="codeData" name="codeData" rows="4" cols="5" class="form-control" placeholder="Enter the code data"></textarea>
            </div>
          </div>
        </div>

      </div>

      <div wicket:id="endPointContainer">

        <div class="form-group">
          <div class="col-xs-12">
            <div class="form-material form-material-primary">
              <label for="endPoint">End Point</label>
              <input wicket:id="endPoint" id="endPoint" name="endPoint" type="text" class="form-control" placeholder="Enter an end point">
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="col-xs-12">
            <label class="css-input css-checkbox css-checkbox-default" for="isEndPointSecure">
              <input wicket:id="isEndPointSecure" id="isEndPointSecure" name="isEndPointSecure" type="checkbox">
              <span></span>
              Is Secure?
            </label>
          </div>
        </div>

        <div class="form-group">
          <div class="col-xs-12">
            <label class="css-input css-checkbox css-checkbox-default" for="isCacheable">
              <input wicket:id="isCacheable" id="isCacheable" name="isCacheable" type="checkbox">
              <span></span>
              Is Cacheable?
            </label>
          </div>
        </div>

        <div class="form-group">
          <div class="col-xs-12">
            <div class="form-material form-material-primary">
              <label for="cacheExpiry">Cache Expiry</label>
              <input wicket:id="cacheExpiry" id="cacheExpiry" name="cacheExpiry" type="text" class="form-control" placeholder="Enter a cache expiry">
            </div>
          </div>
        </div>

      </div>

    </wicket:panel>
  </body>
 </html>