<?xml version="1.0" encoding="UTF-8" ?>
<html xmlns:wicket="http://wicket.apache.org">
  <body>
    <wicket:panel>

      <div class="btn-group">
        <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
        <i wicket:id="dropdownMenuIcon" class=""></i>&nbsp;<span wicket:id="dropdownMenuText"></span>&nbsp;&nbsp;<span class="caret"></span></button>
        <ul class="dropdown-menu dropdown-primary" role="menu">
          <li wicket:id="dropdownMenuItem"><a wicket:id="dropdownMenuItemLink"><span wicket:id="dropdownMenuItemText"></span></a></li>
        </ul>
      </div>

    </wicket:panel>
  </body>
</html>