<?xml version="1.0" encoding="UTF-8" ?>
<html xmlns:wicket="http://wicket.apache.org">
  <body>
    <wicket:panel>

      <div class="form-group">
        <div class="col-xs-12">
          <div class="form-material form-material-primary">
            <label for="groupName">Group Name</label>
            <input wicket:id="groupName" id="groupName" name="groupName" type="text" class="form-control" placeholder="Enter a group name">
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="col-xs-12">
          <div class="form-material form-material-primary">
            <label for="description">Description</label>
            <input wicket:id="description" id="description" name="description" type="text" class="form-control" placeholder="Enter a description">
          </div>
        </div>
      </div>

    </wicket:panel>
  </body>
</html>