<?xml version="1.0" encoding="UTF-8" ?>
<html xmlns:wicket="http://wicket.apache.org">
  <body>
    <wicket:panel>

      <div class="form-group">
        <label for="maxPasswordAttempts" class="control-label col-sm-4">Maximum Password Attempts</label>
        <div class="col-sm-8">
          <input wicket:id="maxPasswordAttempts" id="maxPasswordAttempts" class="form-control" type="text" name="maxPasswordAttempts"/>
        </div>
      </div>

      <div class="form-group">
        <label for="passwordExpiryMonths" class="control-label col-sm-4">Password Expiry (months)</label>
        <div class="col-sm-8">
          <input wicket:id="passwordExpiryMonths" id="passwordExpiryMonths" class="form-control" type="text" name="passwordExpiryMonths"/>
        </div>
      </div>

      <div class="form-group">
        <label for="passwordHistoryMonths" class="control-label col-sm-4">Password History (months)</label>
        <div class="col-sm-8">
          <input wicket:id="passwordHistoryMonths" id="passwordHistoryMonths" class="form-control" type="text" name="passwordHistoryMonths"/>
        </div>
      </div>

      <div class="form-group">
        <label for="maxFilteredUsers" class="control-label col-sm-4">Maximum Filtered Users</label>
        <div class="col-sm-8">
          <input wicket:id="maxFilteredUsers" id="maxFilteredUsers" class="form-control" type="text" name="maxFilteredUsers"/>
        </div>
      </div>

    </wicket:panel>
  </body>
</html>