<?xml version="1.0" encoding="UTF-8" ?>
<html xmlns:wicket="http://wicket.apache.org">
  <body>
    <wicket:panel>

      <div class="form-group">
        <div class="col-xs-12">
          <div class="form-material form-material-primary">
            <label for="maxPasswordAttempts">Maximum Password Attempts</label>
            <input wicket:id="maxPasswordAttempts" id="maxPasswordAttempts" name="maxPasswordAttempts" type="text" class="form-control" placeholder="Enter the maximum password attempts">
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="col-xs-12">
          <div class="form-material form-material-primary">
            <label for="passwordExpiryMonths">Password Expiry (months)</label>
            <input wicket:id="passwordExpiryMonths" id="passwordExpiryMonths" name="passwordExpiryMonths" type="text" class="form-control" placeholder="Enter the password expiry in months">
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="col-xs-12">
          <div class="form-material form-material-primary">
            <label for="passwordHistoryMonths">Password History (months)</label>
            <input wicket:id="passwordHistoryMonths" id="passwordHistoryMonths" name="passwordHistoryMonths" type="text" class="form-control" placeholder="Enter the password history in months">
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="col-xs-12">
          <div class="form-material form-material-primary">
            <label for="maxFilteredUsers">Maximum Filtered Users</label>
            <input wicket:id="maxFilteredUsers" id="maxFilteredUsers" name="maxFilteredUsers" type="text" class="form-control" placeholder="Enter the maximum number of filtered users">
          </div>
        </div>
      </div>

    </wicket:panel>
  </body>
</html>