<?xml version="1.0" encoding="UTF-8" ?>
<html xmlns:wicket="http://wicket.apache.org">
  <body>
    <wicket:panel>

      <div class="form-group">
        <label for="host" class="control-label col-sm-4">Host</label>
        <div class="col-sm-8">
          <input wicket:id="host" id="host" class="form-control" type="text" name="host"/>
        </div>
      </div>

      <div class="form-group">
        <label for="port" class="control-label col-sm-4">Port</label>
        <div class="col-sm-8">
          <input wicket:id="port" id="port" class="form-control" type="text" name="port"/>
        </div>
      </div>

      <div class="form-group">
        <label for="useSSL" class="control-label col-sm-4">Use SSL</label>
        <div class="col-sm-8">
          <input wicket:id="useSSL" id="useSSL" class="form-control" type="text" name="useSSL"/>
        </div>
      </div>

      <div class="form-group">
        <label for="bindDN" class="control-label col-sm-4">Bind DN</label>
        <div class="col-sm-8">
          <input wicket:id="bindDN" id="bindDN" class="form-control" type="text" name="bindDN"/>
        </div>
      </div>

      <div class="form-group">
        <label for="bindPassword" class="control-label col-sm-4">Bind Password</label>
        <div class="col-sm-8">
          <input wicket:id="bindPassword" id="bindPassword" class="form-control" type="text" name="bindPassword"/>
        </div>
      </div>

      <div class="form-group">
        <label for="baseDN" class="control-label col-sm-4">Base DN</label>
        <div class="col-sm-8">
          <input wicket:id="baseDN" id="baseDN" class="form-control" type="text" name="baseDN"/>
        </div>
      </div>

      <div class="form-group">
        <label for="userBaseDN" class="control-label col-sm-4">User Base DN</label>
        <div class="col-sm-8">
          <input wicket:id="userBaseDN" id="userBaseDN" class="form-control" type="text" name="userBaseDN"/>
        </div>
      </div>

      <div class="form-group">
        <label for="groupBaseDN" class="control-label col-sm-4">Group Base DN</label>
        <div class="col-sm-8">
          <input wicket:id="groupBaseDN" id="groupBaseDN" class="form-control" type="text" name="groupBaseDN"/>
        </div>
      </div>

      <div class="form-group">
        <label for="sharedBaseDN" class="control-label col-sm-4">Shared Base DN</label>
        <div class="col-sm-8">
          <input wicket:id="sharedBaseDN" id="sharedBaseDN" class="form-control" type="text" name="sharedBaseDN"/>
        </div>
      </div>

      <div class="form-group">
        <label for="userObjectClass" class="control-label col-sm-4">User Object Class</label>
        <div class="col-sm-8">
          <input wicket:id="userObjectClass" id="userObjectClass" class="form-control" type="text" name="userObjectClass"/>
        </div>
      </div>

      <div class="form-group">
        <label for="usernameAttribute" class="control-label col-sm-4">Username Attribute</label>
        <div class="col-sm-8">
          <input wicket:id="usernameAttribute" id="usernameAttribute" class="form-control" type="text" name="usernameAttribute"/>
        </div>
      </div>

      <div class="form-group">
        <label for="passwordExpiryAttribute" class="control-label col-sm-4">Password Expiry Attribute</label>
        <div class="col-sm-8">
          <input wicket:id="passwordExpiryAttribute" id="passwordExpiryAttribute" class="form-control" type="text" name="passwordExpiryAttribute"/>
        </div>
      </div>

      <div class="form-group">
        <label for="passwordAttemptsAttribute" class="control-label col-sm-4">Password Attempts Attribute</label>
        <div class="col-sm-8">
          <input wicket:id="passwordAttemptsAttribute" id="passwordAttemptsAttribute" class="form-control" type="text" name="passwordAttemptsAttribute"/>
        </div>
      </div>

      <div class="form-group">
        <label for="passwordHistoryAttribute" class="control-label col-sm-4">Password History Attribute</label>
        <div class="col-sm-8">
          <input wicket:id="passwordHistoryAttribute" id="passwordHistoryAttribute" class="form-control" type="text" name="passwordHistoryAttribute"/>
        </div>
      </div>

      <div class="form-group">
        <label for="titleAttribute" class="control-label col-sm-4">Title Attribute</label>
        <div class="col-sm-8">
          <input wicket:id="titleAttribute" id="titleAttribute" class="form-control" type="text" name="titleAttribute"/>
        </div>
      </div>

      <div class="form-group">
        <label for="firstNamesAttribute" class="control-label col-sm-4">First Names Attribute</label>
        <div class="col-sm-8">
          <input wicket:id="firstNamesAttribute" id="firstNamesAttribute" class="form-control" type="text" name="firstNamesAttribute"/>
        </div>
      </div>

      <div class="form-group">
        <label for="lastNameAttribute" class="control-label col-sm-4">Last Name Attribute</label>
        <div class="col-sm-8">
          <input wicket:id="lastNameAttribute" id="lastNameAttribute" class="form-control" type="text" name="lastNameAttribute"/>
        </div>
      </div>

      <div class="form-group">
        <label for="phoneNumberAttribute" class="control-label col-sm-4">Phone Number Attribute</label>
        <div class="col-sm-8">
          <input wicket:id="phoneNumberAttribute" id="phoneNumberAttribute" class="form-control" type="text" name="phoneNumberAttribute"/>
        </div>
      </div>

      <div class="form-group">
        <label for="faxNumberAttribute" class="control-label col-sm-4">Fax Number Attribute</label>
        <div class="col-sm-8">
          <input wicket:id="faxNumberAttribute" id="faxNumberAttribute" class="form-control" type="text" name="faxNumberAttribute"/>
        </div>
      </div>

      <div class="form-group">
        <label for="mobileNumberAttribute" class="control-label col-sm-4">Mobile Number Attribute</label>
        <div class="col-sm-8">
          <input wicket:id="mobileNumberAttribute" id="mobileNumberAttribute" class="form-control" type="text" name="mobileNumberAttribute"/>
        </div>
      </div>

      <div class="form-group">
        <label for="emailAttribute" class="control-label col-sm-4">E-Mail Attribute</label>
        <div class="col-sm-8">
          <input wicket:id="emailAttribute" id="emailAttribute" class="form-control" type="text" name="emailAttribute"/>
        </div>
      </div>

      <div class="form-group">
        <label for="descriptionAttribute" class="control-label col-sm-4">Description Attribute</label>
        <div class="col-sm-8">
          <input wicket:id="descriptionAttribute" id="descriptionAttribute" class="form-control" type="text" name="descriptionAttribute"/>
        </div>
      </div>

      <div class="form-group">
        <label for="groupObjectClass" class="control-label col-sm-4">Group Object Class</label>
        <div class="col-sm-8">
          <input wicket:id="groupObjectClass" id="groupObjectClass" class="form-control" type="text" name="groupObjectClass"/>
        </div>
      </div>

      <div class="form-group">
        <label for="groupAttribute" class="control-label col-sm-4">Group Attribute</label>
        <div class="col-sm-8">
          <input wicket:id="groupAttribute" id="groupAttribute" class="form-control" type="text" name="groupAttribute"/>
        </div>
      </div>

      <div class="form-group">
        <label for="groupMemberAttribute" class="control-label col-sm-4">Group Member Attribute</label>
        <div class="col-sm-8">
          <input wicket:id="groupMemberAttribute" id="groupMemberAttribute" class="form-control" type="text" name="groupMemberAttribute"/>
        </div>
      </div>

      <div class="form-group">
        <label for="maxPasswordAttempts" class="control-label col-sm-4">Maximum Password Attempts</label>
        <div class="col-sm-8">
          <input wicket:id="maxPasswordAttempts" id="maxPasswordAttempts" class="form-control" type="text" name="maxPasswordAttempts"/>
        </div>
      </div>

      <div class="form-group">
        <label for="passwordExpiryMonths" class="control-label col-sm-4">Password Expiry (months)</label>
        <div class="col-sm-8">
          <input wicket:id="passwordExpiryMonths" id="passwordExpiryMonths" class="form-control" type="text" name="passwordExpiryMonths"/>
        </div>
      </div>

      <div class="form-group">
        <label for="supportPasswordHistory" class="control-label col-sm-4">Support Password History</label>
        <div class="col-sm-8">
          <input wicket:id="supportPasswordHistory" id="supportPasswordHistory" class="form-control" type="text" name="supportPasswordHistory"/>
        </div>
      </div>

      <div class="form-group">
        <label for="passwordHistoryMonths" class="control-label col-sm-4">Password History (months)</label>
        <div class="col-sm-8">
          <input wicket:id="passwordHistoryMonths" id="passwordHistoryMonths" class="form-control" type="text" name="passwordHistoryMonths"/>
        </div>
      </div>

      <div class="form-group">
        <label for="passwordHistoryMaxLength" class="control-label col-sm-4">Password History Max Length</label>
        <div class="col-sm-8">
          <input wicket:id="passwordHistoryMaxLength" id="passwordHistoryMaxLength" class="form-control" type="text" name="passwordHistoryMaxLength"/>
        </div>
      </div>

      <div class="form-group">
        <label for="maxFilteredUsers" class="control-label col-sm-4">Maximum Filtered Users</label>
        <div class="col-sm-8">
          <input wicket:id="maxFilteredUsers" id="maxFilteredUsers" class="form-control" type="text" name="maxFilteredUsers"/>
        </div>
      </div>

      <div class="form-group">
        <label for="maxFilteredGroups" class="control-label col-sm-4">Maximum Filtered Groups</label>
        <div class="col-sm-8">
          <input wicket:id="maxFilteredGroups" id="maxFilteredGroups" class="form-control" type="text" name="maxFilteredGroups"/>
        </div>
      </div>

    </wicket:panel>
  </body>
</html>