<?xml version="1.0" encoding="UTF-8" ?>
<html xmlns:wicket="http://wicket.apache.org">
  <body>
    <wicket:panel>

      <div class="form-group">
        <label for="host" class="control-label col-sm-4">Host</label>
        <div class="col-sm-8">
          <input wicket:id="host" id="host" class="form-control" type="text" name="host"/>
        </div>
      </div>

      <div class="form-group">
        <label for="port" class="control-label col-sm-4">Port</label>
        <div class="col-sm-8">
          <input wicket:id="port" id="port" class="form-control" type="text" name="port"/>
        </div>
      </div>

      <div class="form-group">
        <label for="useSSL" class="control-label col-sm-4">Use SSL</label>
        <div class="col-sm-8">
          <input wicket:id="useSSL" id="useSSL" class="form-control" type="text" name="useSSL"/>
        </div>
      </div>

      <div class="form-group">
        <label for="bindDN" class="control-label col-sm-4">Bind DN</label>
        <div class="col-sm-8">
          <input wicket:id="bindDN" id="bindDN" class="form-control" type="text" name="bindDN"/>
        </div>
      </div>

      <div class="form-group">
        <label for="bindPassword" class="control-label col-sm-4">Bind Password</label>
        <div class="col-sm-8">
          <input wicket:id="bindPassword" id="bindPassword" class="form-control" type="text" name="bindPassword"/>
        </div>
      </div>

      <div class="form-group">
        <label for="baseDN" class="control-label col-sm-4">Base DN</label>
        <div class="col-sm-8">
          <input wicket:id="baseDN" id="baseDN" class="form-control" type="text" name="baseDN"/>
        </div>
      </div>

      <div class="form-group">
        <label for="userBaseDN" class="control-label col-sm-4">User Base DN</label>
        <div class="col-sm-8">
          <input wicket:id="userBaseDN" id="userBaseDN" class="form-control" type="text" name="userBaseDN"/>
        </div>
      </div>

      <div class="form-group">
        <label for="groupBaseDN" class="control-label col-sm-4">Group Base DN</label>
        <div class="col-sm-8">
          <input wicket:id="groupBaseDN" id="groupBaseDN" class="form-control" type="text" name="groupBaseDN"/>
        </div>
      </div>

      <div class="form-group">
        <label for="sharedBaseDN" class="control-label col-sm-4">Shared Base DN</label>
        <div class="col-sm-8">
          <input wicket:id="sharedBaseDN" id="sharedBaseDN" class="form-control" type="text" name="sharedBaseDN"/>
        </div>
      </div>

      <div class="form-group">
        <label for="userObjectClass" class="control-label col-sm-4">User Object Class</label>
        <div class="col-sm-8">
          <input wicket:id="userObjectClass" id="userObjectClass" class="form-control" type="text" name="userObjectClass"/>
        </div>
      </div>

      <div class="form-group">
        <label for="userUsernameAttribute" class="control-label col-sm-4">User Username Attribute</label>
        <div class="col-sm-8">
          <input wicket:id="userUsernameAttribute" id="userUsernameAttribute" class="form-control" type="text" name="userUsernameAttribute"/>
        </div>
      </div>

      <div class="form-group">
        <label for="userPasswordExpiryAttribute" class="control-label col-sm-4">User Password Expiry Attribute</label>
        <div class="col-sm-8">
          <input wicket:id="userPasswordExpiryAttribute" id="userPasswordExpiryAttribute" class="form-control" type="text" name="userPasswordExpiryAttribute"/>
        </div>
      </div>

      <div class="form-group">
        <label for="userPasswordAttemptsAttribute" class="control-label col-sm-4">User Password Attempts Attribute</label>
        <div class="col-sm-8">
          <input wicket:id="userPasswordAttemptsAttribute" id="userPasswordAttemptsAttribute" class="form-control" type="text" name="userPasswordAttemptsAttribute"/>
        </div>
      </div>

      <div class="form-group">
        <label for="userPasswordHistoryAttribute" class="control-label col-sm-4">User Password History Attribute</label>
        <div class="col-sm-8">
          <input wicket:id="userPasswordHistoryAttribute" id="userPasswordHistoryAttribute" class="form-control" type="text" name="userPasswordHistoryAttribute"/>
        </div>
      </div>

      <div class="form-group">
        <label for="userTitleAttribute" class="control-label col-sm-4">User Title Attribute</label>
        <div class="col-sm-8">
          <input wicket:id="userTitleAttribute" id="userTitleAttribute" class="form-control" type="text" name="userTitleAttribute"/>
        </div>
      </div>

      <div class="form-group">
        <label for="userFirstNamesAttribute" class="control-label col-sm-4">User First Names Attribute</label>
        <div class="col-sm-8">
          <input wicket:id="userFirstNamesAttribute" id="userFirstNamesAttribute" class="form-control" type="text" name="userFirstNamesAttribute"/>
        </div>
      </div>

      <div class="form-group">
        <label for="userLastNameAttribute" class="control-label col-sm-4">User Last Name Attribute</label>
        <div class="col-sm-8">
          <input wicket:id="userLastNameAttribute" id="userLastNameAttribute" class="form-control" type="text" name="userLastNameAttribute"/>
        </div>
      </div>

      <div class="form-group">
        <label for="userPhoneNumberAttribute" class="control-label col-sm-4">User Phone Number Attribute</label>
        <div class="col-sm-8">
          <input wicket:id="userPhoneNumberAttribute" id="userPhoneNumberAttribute" class="form-control" type="text" name="userPhoneNumberAttribute"/>
        </div>
      </div>

      <div class="form-group">
        <label for="userFaxNumberAttribute" class="control-label col-sm-4">User Fax Number Attribute</label>
        <div class="col-sm-8">
          <input wicket:id="userFaxNumberAttribute" id="userFaxNumberAttribute" class="form-control" type="text" name="userFaxNumberAttribute"/>
        </div>
      </div>

      <div class="form-group">
        <label for="userMobileNumberAttribute" class="control-label col-sm-4">User Mobile Number Attribute</label>
        <div class="col-sm-8">
          <input wicket:id="userMobileNumberAttribute" id="userMobileNumberAttribute" class="form-control" type="text" name="userMobileNumberAttribute"/>
        </div>
      </div>

      <div class="form-group">
        <label for="userEmailAttribute" class="control-label col-sm-4">User E-Mail Attribute</label>
        <div class="col-sm-8">
          <input wicket:id="userEmailAttribute" id="userEmailAttribute" class="form-control" type="text" name="userEmailAttribute"/>
        </div>
      </div>

      <div class="form-group">
        <label for="userDescriptionAttribute" class="control-label col-sm-4">User Description Attribute</label>
        <div class="col-sm-8">
          <input wicket:id="userDescriptionAttribute" id="userDescriptionAttribute" class="form-control" type="text" name="userDescriptionAttribute"/>
        </div>
      </div>

      <div class="form-group">
        <label for="groupObjectClass" class="control-label col-sm-4">Group Object Class</label>
        <div class="col-sm-8">
          <input wicket:id="groupObjectClass" id="groupObjectClass" class="form-control" type="text" name="groupObjectClass"/>
        </div>
      </div>

      <div class="form-group">
        <label for="groupNameAttribute" class="control-label col-sm-4">Group Name Attribute</label>
        <div class="col-sm-8">
          <input wicket:id="groupNameAttribute" id="groupNameAttribute" class="form-control" type="text" name="groupNameAttribute"/>
        </div>
      </div>

      <div class="form-group">
        <label for="groupMemberAttribute" class="control-label col-sm-4">Group Member Attribute</label>
        <div class="col-sm-8">
          <input wicket:id="groupMemberAttribute" id="groupMemberAttribute" class="form-control" type="text" name="groupMemberAttribute"/>
        </div>
      </div>

      <div class="form-group">
        <label for="groupDescriptionAttribute" class="control-label col-sm-4">Group Description Attribute</label>
        <div class="col-sm-8">
          <input wicket:id="groupDescriptionAttribute" id="groupDescriptionAttribute" class="form-control" type="text" name="groupDescriptionAttribute"/>
        </div>
      </div>

      <div class="form-group">
        <label for="maxPasswordAttempts" class="control-label col-sm-4">Maximum Password Attempts</label>
        <div class="col-sm-8">
          <input wicket:id="maxPasswordAttempts" id="maxPasswordAttempts" class="form-control" type="text" name="maxPasswordAttempts"/>
        </div>
      </div>

      <div class="form-group">
        <label for="passwordExpiryMonths" class="control-label col-sm-4">Password Expiry (months)</label>
        <div class="col-sm-8">
          <input wicket:id="passwordExpiryMonths" id="passwordExpiryMonths" class="form-control" type="text" name="passwordExpiryMonths"/>
        </div>
      </div>

      <div class="form-group">
        <label for="supportPasswordHistory" class="control-label col-sm-4">Support Password History</label>
        <div class="col-sm-8">
          <input wicket:id="supportPasswordHistory" id="supportPasswordHistory" class="form-control" type="text" name="supportPasswordHistory"/>
        </div>
      </div>

      <div class="form-group">
        <label for="passwordHistoryMonths" class="control-label col-sm-4">Password History (months)</label>
        <div class="col-sm-8">
          <input wicket:id="passwordHistoryMonths" id="passwordHistoryMonths" class="form-control" type="text" name="passwordHistoryMonths"/>
        </div>
      </div>

      <div class="form-group">
        <label for="passwordHistoryMaxLength" class="control-label col-sm-4">Password History Max Length</label>
        <div class="col-sm-8">
          <input wicket:id="passwordHistoryMaxLength" id="passwordHistoryMaxLength" class="form-control" type="text" name="passwordHistoryMaxLength"/>
        </div>
      </div>

      <div class="form-group">
        <label for="maxFilteredUsers" class="control-label col-sm-4">Maximum Filtered Users</label>
        <div class="col-sm-8">
          <input wicket:id="maxFilteredUsers" id="maxFilteredUsers" class="form-control" type="text" name="maxFilteredUsers"/>
        </div>
      </div>

      <div class="form-group">
        <label for="maxFilteredGroups" class="control-label col-sm-4">Maximum Filtered Groups</label>
        <div class="col-sm-8">
          <input wicket:id="maxFilteredGroups" id="maxFilteredGroups" class="form-control" type="text" name="maxFilteredGroups"/>
        </div>
      </div>

    </wicket:panel>
  </body>
</html>