<?xml version="1.0" encoding="UTF-8" ?>
<html xmlns:wicket="http://wicket.apache.org">
  <body>
    <wicket:panel>
      <ul class="pagination pagination-teal">
        <li>
          <a wicket:id="first" title="First"><i class="fa fa-angle-double-left"></i></a>
        </li>
        <li>
          <a wicket:id="prev" title="Previous"><i class="fa fa-angle-left"></i></a>
        </li>
        <li wicket:id="navigation">
            <a wicket:id="pageLink" href="#"><span wicket:id="pageNumber">1</span></a>
        </li>
        <li>
          <a wicket:id="next" title="Next"><i class="fa fa-angle-right"></i></a>
        </li>
        <li>
          <a wicket:id="last" title="Last"><i class="fa fa-angle-double-right"></i></a>
        </li>
      </ul>
    </wicket:panel>
  </body>
</html>
