# Windows-specific files
/**/Thumbs.db
/**/desktop.ini

# Mac-specific things (thanks to Michael Aaron Safyan)
/**/.DS_Store

# Editors temporary files
/**/*~

# Ignore Packer cache directory
packer_cache

# Ignore the Vagrant working directory
.vagrant


templates/coreos-mmp/images/
