<?xml version="1.0" encoding="UTF-8" ?>
<html xmlns:wicket="http://wicket.apache.org">
  <body>
    <wicket:panel>

      <div class="form-group">
        <div class="col-xs-12">
          <div class="form-material form-material-primary">
            <label for="id">ID</label>
            <input wicket:id="id" id="id" name="id" type="text" class="form-control" placeholder="Enter an ID">
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="col-xs-12">
          <div class="form-material form-material-primary">
            <label for="name">Name</label>
            <input wicket:id="name" id="name" name="name" type="text" class="form-control" placeholder="Enter a name">
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="col-xs-12">
          <div class="form-material form-material-primary">
            <label for="name">Template</label>
            <input wicket:id="fileUpload" id="fileUpload" class="form-control" type="file" name="fileUpload" placeholder="Please select a file">
          </div>
        </div>
      </div>

    </wicket:panel>
  </body>
</html>
